# JetBrains IDEs
.idea/
.DS_Store/
*.iml

# GoLand specific ignore rules
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/usage.statistics.xml
/.idea/dictionaries
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml

# Editor and IDE directories
.vscode/